# read-intrinio-sample-data.csv

Read in Intrinio sample data

In [3]:
import pandas as pd

# IPYNB Display
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Statistical models
from sklearn import linear_model
from sklearn.linear_model import Ridge

# Price API
from pandas_datareader import data as pdr
import fix_yahoo_finance as yf
yf.pdr_override() # <== that's all it takes :-)

In [4]:
# Read in CSV

sample_df = pd.read_csv('data/US_FIN_BALANCE_SHEET_STATEMENT_sample.csv', parse_dates=['end_date']).\
            drop(columns=['start_date', 'months', 'timedepositsplaced'])


sample_df.shape
sample_df.head(10)
sample_df.dtypes

(999, 55)

,company_cik,primary_security_ticker,end_date,fiscal_year,fiscal_period,cashandequivalents,restrictedcash,fedfundssold,interestbearingdepositsatotherbanks,tradingaccountsecurities,...,commonequity,retainedearnings,treasurystock,aoci,otherequity,totalcommonequity,totalequity,noncontrollinginterests,totalequityandnoncontrollinginterests,totalliabilitiesandequity
0,1555074,AAMC,2018-03-31,2018,Q1,29115000.0,NaN,NaN,NaN,NaN,...,39053000.0,33225000.0,-272524000.0,0.0,NaN,-200246000.0,-200246000.0,NaN,-2.002460e+08,5.286700e+07
1,1555074,AAMC,2017-09-30,2017,Q3,32813000.0,NaN,NaN,NaN,18048000.0,...,36527000.0,40805000.0,-272014000.0,-2548000.0,NaN,-197230000.0,-197230000.0,NaN,-1.972300e+08,5.870900e+07
2,1555074,AAMC,2017-06-30,2017,Q2,31652000.0,NaN,NaN,NaN,21021000.0,...,34861000.0,42982000.0,-272014000.0,261000.0,NaN,-193910000.0,-193910000.0,NaN,-1.939100e+08,6.046300e+07
3,1555074,AAMC,2017-03-31,2017,Q1,30855000.0,NaN,NaN,NaN,24773000.0,...,32958000.0,44775000.0,-270480000.0,2569000.0,NaN,-190178000.0,-190178000.0,NaN,-1.901780e+08,6.322900e+07
4,1555074,AAMC,2017-12-31,2017,FY,33349000.0,NaN,NaN,NaN,NaN,...,37793000.0,38970000.0,-272328000.0,-1330000.0,NaN,-196895000.0,-196895000.0,NaN,-1.968950e+08,6.038700e+07
5,1555074,AAMC,2016-09-30,2016,Q3,41893000.0,0.0,NaN,NaN,17707000.0,...,28311000.0,47860000.0,-262304000.0,-2889000.0,NaN,-189022000.0,-189022000.0,0.000000e+00,-1.890220e+08,6.594100e+07
6,1555074,AAMC,2016-06-30,2016,Q2,39419000.0,0.0,NaN,NaN,14929000.0,...,25877000.0,48982000.0,-261575000.0,-5667000.0,NaN,-192383000.0,-192383000.0,0.000000e+00,-1.923830e+08,6.121600e+07
7,1555074,AAMC,2016-03-31,2016,Q1,41646000.0,0.0,NaN,NaN,19494000.0,...,23489000.0,50295000.0,-257319000.0,-1102000.0,NaN,-184637000.0,-184637000.0,0.000000e+00,-1.846370e+08,6.813500e+07
8,1555074,AAMC,2016-12-31,2016,FY,40584000.0,NaN,NaN,NaN,17934000.0,...,30722000.0,46145000.0,-266484000.0,-2662000.0,NaN,-192279000.0,-192279000.0,NaN,-1.922790e+08,6.574800e+07
9,1555074,AAMC,2015-09-30,2015,Q3,152634000.0,25511000.0,NaN,NaN,NaN,...,21002000.0,59670000.0,-252072000.0,NaN,NaN,-171400000.0,-171400000.0,1.221907e+09,1.050507e+09,2.810701e+09

company_cik                                       int64
primary_security_ticker                          object
end_date                                 datetime64[ns]
fiscal_year                                       int64
fiscal_period                                    object
cashandequivalents                              float64
restrictedcash                                  float64
fedfundssold                                    float64
interestbearingdepositsatotherbanks             float64
tradingaccountsecurities                        float64
loansandleases                                  float64
allowanceforloanandleaselosses                  float64
netloansandleases                               float64
loansheldforsale                                float64
accruedinvestmentincome                         float64
customerandotherreceivables                     float64
netpremisesandequipment                         float64
mortgageservicingrights                         float64
unearnedpremiumsdebit                           float64
deferredacquisitioncost                         float64
separateaccountbusinessassets                   float64
goodwill                                        float64
intangibleassets                                float64
otherassets                                     float64
totalassets                                     float64
noninterestbearingdeposits                      float64
interestbearingdeposits                         float64
fedfundspurchased                               float64
shorttermdebt                                   float64
bankersacceptances                              float64
accruedinterestpayable                          float64
othershorttermpayables                          float64
longtermdebt                                    float64
capitalleaseobligations                         float64
claimsandclaimexpenses                          float64
futurepolicybenefits                            float64
unearnedpremiumscredit                          float64
policyholderfunds                               float64
participatingpolicyholderequity                 float64
separateaccountbusinessliabilities              float64
otherlongtermliabilities                        float64
totalliabilities                                float64
commitmentsandcontingencies                     float64
redeemablenoncontrollinginterest                float64
totalpreferredequity                            float64
commonequity                                    float64
retainedearnings                                float64
treasurystock                                   float64
aoci                                            float64
otherequity                                     float64
totalcommonequity                               float64
totalequity                                     float64
noncontrollinginterests                         float64
totalequityandnoncontrollinginterests           float64
totalliabilitiesandequity                       float64
dtype: object

In [5]:
# Trim to columns of major interest
# Keep only FY period
# Drop 2017 rows so can calc a c. 2 year return

sample_trimmed = sample_df[['primary_security_ticker','end_date', 'fiscal_year', 'fiscal_period', 'retainedearnings', \
                            'totalassets', 'cashandequivalents', 'longtermdebt', 'shorttermdebt', 'totalliabilities']].\
                loc[(sample_df['fiscal_period'] == 'FY') & (sample_df['fiscal_year'] != 2017)]

sample_trimmed.shape
sample_trimmed.head(10)

(241, 10)

,primary_security_ticker,end_date,fiscal_year,fiscal_period,retainedearnings,totalassets,cashandequivalents,longtermdebt,shorttermdebt,totalliabilities
8,AAMC,2016-12-31,2016,FY,46145000.0,6.574800e+07,40584000.0,NaN,NaN,8.687000e+06
12,AAMC,2015-12-31,2015,FY,50678000.0,2.518601e+09,184544000.0,1.265968e+09,NaN,1.304690e+09
16,AAMC,2014-12-31,2014,FY,54174000.0,2.760698e+09,116782000.0,1.345251e+09,NaN,1.361977e+09
20,AAMC,2013-12-31,2013,FY,-5339000.0,1.405104e+09,140000000.0,6.052650e+08,NaN,6.121370e+08
21,AAMC,2012-12-31,2012,FY,-46000.0,1.058150e+08,105014000.0,5.280000e+05,NaN,9.340000e+05
30,AAME,2016-12-31,2016,FY,27272000.0,3.186000e+08,13252000.0,3.373800e+07,NaN,2.130940e+08
34,AAME,2015-12-31,2015,FY,25443000.0,3.146030e+08,15622000.0,3.373800e+07,NaN,2.121110e+08
38,AAME,2014-12-31,2014,FY,21866000.0,3.170080e+08,16375000.0,3.373800e+07,NaN,2.128130e+08
42,AAME,2013-12-31,2013,FY,18738000.0,3.193810e+08,33102000.0,4.123800e+07,NaN,2.184540e+08
46,AAME,2012-12-31,2012,FY,8621000.0,3.201770e+08,18951000.0,4.123800e+07,NaN,2.144410e+08

In [6]:
# Unstack columns by fiscal_year

sample_T = sample_trimmed.drop(columns=['fiscal_period', 'end_date']).set_index(['primary_security_ticker', 'fiscal_year']).\
            unstack(level=-1)

sample_T.shape
sample_T.head(10)

(36, 54)

                        retainedearnings                            \
fiscal_year                         2008         2009         2010
primary_security_ticker
AAMC                                 NaN          NaN          NaN
AAME                                 NaN          NaN    3886000.0
AAT                                  NaN          NaN          NaN
AB                                   NaN          NaN          NaN
ABCB                                 NaN          NaN   37000000.0
ABCW                                 NaN          NaN -103362000.0
ABR                                  NaN          NaN -180689667.0
AC                                   NaN          NaN          NaN
ACC                                  NaN -189165000.0 -249381000.0
ACFC                                 NaN          NaN    2581000.0

                                                                             \
fiscal_year                     2011         2012         2013         2014
primary_security_ticker
AAMC                             NaN     -46000.0   -5339000.0   54174000.0
AAME                       6179000.0    8621000.0   18738000.0   21866000.0
AAT                      -28007000.0  -25625000.0  -44090000.0  -60291000.0
AB                               NaN          NaN          NaN          NaN
ABCB                      54852000.0   65710000.0   83991000.0  118412000.0
ABCW                    -147513000.0 -189097000.0   20359000.0   34981000.0
ABR                     -221015880.0 -207558257.0 -212231319.0 -152483322.0
AC                               NaN          NaN          NaN          0.0
ACC                     -286565000.0 -347521000.0 -392338000.0 -487986000.0
ACFC                      -7706000.0  -14373000.0  -25779000.0  -24452000.0

                                                  totalassets      ...       \
fiscal_year                     2015         2016        2008      ...
primary_security_ticker                                            ...
AAMC                      50678000.0   46145000.0         NaN      ...
AAME                      25443000.0   27272000.0         NaN      ...
AAT                      -64066000.0  -77296000.0         NaN      ...
AB                               NaN          NaN         NaN      ...
ABCB                     152820000.0  214454000.0         NaN      ...
ABCW                     172610000.0          NaN         NaN      ...
ABR                     -136118001.0 -125134000.0         NaN      ...
AC                         2072000.0    7327000.0         NaN      ...
ACC                     -550501000.0 -670137000.0         NaN      ...
ACFC                     -16734000.0  -10316000.0         NaN      ...

                        shorttermdebt totalliabilities                \
fiscal_year                      2016             2008          2009
primary_security_ticker
AAMC                              NaN              NaN           NaN
AAME                              NaN              NaN           NaN
AAT                        20000000.0              NaN           NaN
AB                                NaN              NaN  2.183000e+06
ABCB                       53505000.0              NaN           NaN
ABCW                              NaN              NaN           NaN
ABR                               NaN              NaN           NaN
AC                          2396000.0              NaN           NaN
ACC                               NaN              NaN  1.295485e+09
ACFC                              NaN              NaN           NaN

                                                                   \
fiscal_year                      2010          2011          2012
primary_security_ticker
AAMC                              NaN           NaN  9.340000e+05
AAME                     1.948730e+08  2.058480e+08  2.144410e+08
AAT                      9.622360e+08  1.029553e+09  1.141858e+09
AB                       4.580000e+05  2.811000e+06  6.411000e+06
ABCB                     2.698761e+09  2.700537e+09  2.740035e+09
ABCW                     3.407996e+09  2.819002e+09  2.427447e+09
ABR                      1.524793e+09  1.603654e+09  1.470620e+09
AC                                NaN           NaN           NaN
ACC                      1.440885e+09  1.562254e+09  2.384374e+09
ACFC                     7.826510e+08  7.426730e+08  7.323590e+08

                                                                   \
fiscal_year                      2013          2014          2015
primary_security_ticker
AAMC                     6.121370e+08  1.361977e+09  1.304690e+09
AAME                     2.184540e+08  2.128130e+08  2.121110e+08
AAT                      1.145865e+09  1.175186e+09  1.145362e+09
AB                       7.760000e+05  3.820000e+05  2.740000e+05
ABCB                     3.350950e+09  3.671049e+09  5.074181e+09
ABCW                     1.910276e+09  1.854716e+09  1.881857e+09
ABR                      1.439876e+09  1.331039e+09  1.262301e+09
AC                                NaN  1.034330e+08  7.946100e+07
ACC                      2.919511e+09  3.164993e+09  3.165080e+09
ACFC                     6.681080e+08  6.341620e+08  7.764600e+08


fiscal_year                      2016
primary_security_ticker
AAMC                     8.687000e+06
AAME                     2.130940e+08
AAT                      1.148382e+09
AB                       6.190000e+05
ABCB                     6.245594e+09
ABCW                              NaN
ABR                      2.223748e+09
AC                       7.435100e+07
ACC                      2.360348e+09
ACFC                     8.204410e+08

[10 rows x 54 columns]

In [7]:
# Get column names

list(sample_T.columns.values)

[('retainedearnings', 2008),
 ('retainedearnings', 2009),
 ('retainedearnings', 2010),
 ('retainedearnings', 2011),
 ('retainedearnings', 2012),
 ('retainedearnings', 2013),
 ('retainedearnings', 2014),
 ('retainedearnings', 2015),
 ('retainedearnings', 2016),
 ('totalassets', 2008),
 ('totalassets', 2009),
 ('totalassets', 2010),
 ('totalassets', 2011),
 ('totalassets', 2012),
 ('totalassets', 2013),
 ('totalassets', 2014),
 ('totalassets', 2015),
 ('totalassets', 2016),
 ('cashandequivalents', 2008),
 ('cashandequivalents', 2009),
 ('cashandequivalents', 2010),
 ('cashandequivalents', 2011),
 ('cashandequivalents', 2012),
 ('cashandequivalents', 2013),
 ('cashandequivalents', 2014),
 ('cashandequivalents', 2015),
 ('cashandequivalents', 2016),
 ('longtermdebt', 2008),
 ('longtermdebt', 2009),
 ('longtermdebt', 2010),
 ('longtermdebt', 2011),
 ('longtermdebt', 2012),
 ('longtermdebt', 2013),
 ('longtermdebt', 2014),
 ('longtermdebt', 2015),
 ('longtermdebt', 2016),
 ('shorttermdebt', 2008),
 ('shorttermdebt', 2009),
 ('shorttermdebt', 2010),
 ('shorttermdebt', 2011),
 ('shorttermdebt', 2012),
 ('shorttermdebt', 2013),
 ('shorttermdebt', 2014),
 ('shorttermdebt', 2015),
 ('shorttermdebt', 2016),
 ('totalliabilities', 2008),
 ('totalliabilities', 2009),
 ('totalliabilities', 2010),
 ('totalliabilities', 2011),
 ('totalliabilities', 2012),
 ('totalliabilities', 2013),
 ('totalliabilities', 2014),
 ('totalliabilities', 2015),
 ('totalliabilities', 2016)]

In [8]:
# Calculate ratios and changes in ratios for 1 year, 2 year and 3 year changes

sample_T[('retainedearnings', 'change_1Y')] = sample_T[('retainedearnings', 2016)] / sample_T[('retainedearnings', 2015)]
sample_T[('retainedearnings', 'change_2Y')] = sample_T[('retainedearnings', 2016)] / sample_T[('retainedearnings', 2014)]
sample_T[('retainedearnings', 'change_3Y')] = sample_T[('retainedearnings', 2016)] / sample_T[('retainedearnings', 2013)]

sample_T[('totalassets', 'change_1Y')] = sample_T[('totalassets', 2016)] / sample_T[('totalassets', 2015)]
sample_T[('totalassets', 'change_2Y')] = sample_T[('totalassets', 2016)] / sample_T[('totalassets', 2014)]
sample_T[('totalassets', 'change_3Y')] = sample_T[('totalassets', 2016)] / sample_T[('totalassets', 2013)]

sample_T[('cashandequivalents', 'change_1Y')] = sample_T[('cashandequivalents', 2016)] / sample_T[('cashandequivalents', 2015)]
sample_T[('cashandequivalents', 'change_2Y')] = sample_T[('cashandequivalents', 2016)] / sample_T[('cashandequivalents', 2014)]
sample_T[('cashandequivalents', 'change_3Y')] = sample_T[('cashandequivalents', 2016)] / sample_T[('cashandequivalents', 2013)]

sample_T[('longtermdebt', 'change_1Y')] = sample_T[('longtermdebt', 2016)] / sample_T[('longtermdebt', 2015)]
sample_T[('longtermdebt', 'change_2Y')] = sample_T[('longtermdebt', 2016)] / sample_T[('longtermdebt', 2014)]
sample_T[('longtermdebt', 'change_3Y')] = sample_T[('longtermdebt', 2016)] / sample_T[('longtermdebt', 2013)]

sample_T[('shorttermdebt', 'change_1Y')] = sample_T[('shorttermdebt', 2016)] / sample_T[('shorttermdebt', 2015)]
sample_T[('shorttermdebt', 'change_2Y')] = sample_T[('shorttermdebt', 2016)] / sample_T[('shorttermdebt', 2014)]
sample_T[('shorttermdebt', 'change_3Y')] = sample_T[('shorttermdebt', 2016)] / sample_T[('shorttermdebt', 2013)]

sample_T[('totalliabilities', 'change_1Y')] = sample_T[('totalliabilities', 2016)] / sample_T[('totalliabilities', 2015)]
sample_T[('totalliabilities', 'change_2Y')] = sample_T[('totalliabilities', 2016)] / sample_T[('totalliabilities', 2014)]
sample_T[('totalliabilities', 'change_3Y')] = sample_T[('totalliabilities', 2016)] / sample_T[('totalliabilities', 2013)]



sample_T.shape
# list(sample_T.columns.values)
# sample_T[[('retainedearnings', 2015), ('retainedearnings', 2016), ('retainedearnings', 'change_1Y')]].head()
sample_T[[('retainedearnings', 'change_1Y'), ('retainedearnings', 'change_2Y'), ('retainedearnings', 'change_3Y'),\
          ('totalassets', 'change_1Y'), ('totalassets', 'change_2Y'), ('totalassets', 'change_3Y'),\
          ('cashandequivalents', 'change_1Y'), ('cashandequivalents', 'change_2Y'), ('cashandequivalents', 'change_3Y'),\
          ('longtermdebt', 'change_1Y'), ('longtermdebt', 'change_2Y'), ('longtermdebt', 'change_3Y'),\
          ('shorttermdebt', 'change_1Y'), ('shorttermdebt', 'change_2Y'), ('shorttermdebt', 'change_3Y'),\
          ('totalliabilities', 'change_1Y'), ('totalliabilities', 'change_2Y'), ('totalliabilities', 'change_3Y'),\
         ]].head(10)

(36, 72)

                        retainedearnings                     totalassets  \
fiscal_year                    change_1Y change_2Y change_3Y   change_1Y
primary_security_ticker
AAMC                            0.910553  0.851792 -8.643004    0.026105
AAME                            1.071886  1.247233  1.455438    1.012705
AAT                             1.206506  1.282049  1.753141    1.006404
AB                                   NaN       NaN       NaN    0.977405
ABCB                            1.403311  1.811083  2.553297    1.233155
ABCW                                 NaN       NaN       NaN         NaN
ABR                             0.919305  0.820641  0.589611    1.625697
AC                              3.536197       inf       NaN    1.138459
ACC                             1.217322  1.373271  1.708060    0.976635
ACFC                            0.616469  0.421888  0.400171    1.058634

                                            cashandequivalents            \
fiscal_year             change_2Y change_3Y          change_1Y change_2Y
primary_security_ticker
AAMC                     0.023816  0.046792           0.219915  0.347519
AAME                     1.005022  0.997555           0.848291  0.809282
AAT                      1.023263  1.084308           1.122129  0.754772
AB                       0.946321  1.004469                NaN       NaN
ABCB                     1.707183  1.879141           1.072951  1.629556
ABCW                          NaN       NaN                NaN       NaN
ABR                      1.591640  1.582333           0.734704  2.749925
AC                       1.262237       NaN           1.526576  1.100035
ACC                      1.005341  1.047851           1.329011  0.883409
ACFC                     1.284447  1.236939           0.612967  1.258911

                                  longtermdebt                      \
fiscal_year             change_3Y    change_1Y change_2Y change_3Y
primary_security_ticker
AAMC                     0.289886          NaN       NaN       NaN
AAME                     0.400338     1.000000  1.000000  0.818129
AAT                      0.914549     1.015519  0.979977  1.093844
AB                            NaN          NaN       NaN       NaN
ABCB                     2.019919     5.295562  3.998093  2.305846
ABCW                          NaN          NaN       NaN       NaN
ABR                      2.295844     1.764790  1.663053  1.637245
AC                            NaN          NaN       NaN       NaN
ACC                      0.571340     0.720860  0.714934  0.799995
ACFC                     1.295950     0.909489  1.526341  1.715982

                        shorttermdebt                     totalliabilities  \
fiscal_year                 change_1Y change_2Y change_3Y        change_1Y
primary_security_ticker
AAMC                              NaN       NaN       NaN         0.006658
AAME                              NaN       NaN       NaN         1.004634
AAT                          0.666667       inf  0.215054         1.002637
AB                                NaN       NaN       NaN         2.259124
ABCB                         0.841472  0.729846  0.640656         1.230858
ABCW                              NaN       NaN       NaN              NaN
ABR                               NaN       NaN       NaN         1.761662
AC                           0.047307  0.055211       NaN         0.935692
ACC                               NaN       NaN       NaN         0.745747
ACFC                              NaN       NaN       NaN         1.056643


fiscal_year             change_2Y change_3Y
primary_security_ticker
AAMC                     0.006378  0.014191
AAME                     1.001320  0.975464
AAT                      0.977192  1.002197
AB                       1.620419  0.797680
ABCB                     1.701310  1.863828
ABCW                          NaN       NaN
ABR                      1.670686  1.544402
AC                       0.718832       NaN
ACC                      0.745767  0.808474
ACFC                     1.293740  1.228007

In [18]:
# Get ticker symbols as list

# sample_T.index.name

tickers_list = []

tickers_list = sorted(sample_T.reset_index().primary_security_ticker.tolist())
    
for i, item in enumerate(tickers_list):
    print(i, item)

0 AAMC
1 AAME
2 AAT
3 AB
4 ABCB
5 ABCW
6 ABR
7 AC
8 ACC
9 ACFC
10 ACGL
11 ACNB
12 ACRE
13 ADC
14 AEC
15 AEL
16 AF
17 AFCB
18 AFCO
19 AFG
20 AFH
21 AFL
22 AFSI
23 AGII
24 AGM
25 AGNC
26 AGO
27 AHH
28 AHL
29 AHP
30 AHT
31 AI
32 AIG
33 AIII
34 AIV
35 AIZ

In [19]:
# Get price changes, from end of 2016 to latest in 2018

price_data = pdr.get_data_yahoo(tickers_list, start="2017-01-01", end="2018-09-18")

price_data.shape
price_data.head(10)

[*********************100%***********************]  36 of 36 downloaded

(430, 168)

                 Open                                                          \
                 AAMC  AAME        AAT         AB       ABCB   ABR         AC
Date
2017-01-03  53.549999  4.05  43.299999  23.750000  44.150002  7.50  33.250000
2017-01-04  53.500000  4.15  43.320000  24.299999  43.799999  7.58  33.849998
2017-01-05  56.000000  4.17  43.650002  24.150000  44.450001  7.63  33.900002
2017-01-06  59.799999  4.10  43.639999  24.400000  44.349998  7.65  34.049999
2017-01-09  60.000000  4.20  43.950001  24.549999  43.549999  7.63  33.799999
2017-01-10  60.250000  4.05  43.099998  23.950001  43.000000  7.60  33.099998
2017-01-11  60.849998  4.05  43.070000  22.799999  43.750000  7.61  33.500000
2017-01-12  64.050003  3.90  43.040001  23.000000  44.299999  7.61  33.650002
2017-01-13  63.599998  4.05  43.130001  23.549999  43.500000  7.53  33.950001
2017-01-17  68.150002  4.00  43.270000  23.700001  42.799999  7.58  34.349998

                                       ...   Volume                            \
           ACC       ACGL       ACNB   ...      AGM     AGNC      AGO     AHH
Date                                   ...
2017-01-03 NaN  28.943333  31.250000   ...    47500  4625600  1786800  225300
2017-01-04 NaN  28.596666  31.400000   ...    65200  5882700  1381400  283100
2017-01-05 NaN  28.903334  31.350000   ...    45700  3916100   923700  283500
2017-01-06 NaN  29.150000  30.900000   ...    63600  2730100   703300  260400
2017-01-09 NaN  28.740000  30.820000   ...    42800  3133300   907300  220500
2017-01-10 NaN  28.493334  30.950001   ...    29000  3470300   987700  170900
2017-01-11 NaN  28.780001  30.850000   ...    50000  2584700  1031400  106400
2017-01-12 NaN  28.703333  30.950001   ...    66500  2773500   845000  186200
2017-01-13 NaN  29.046667  30.250000   ...    35500  1995100   737800  111600
2017-01-17 NaN  29.026667  30.549999   ...    28300  2384100   670900  142400


               AHL     AHT      AI      AIG      AIV     AIZ
Date
2017-01-03  222100  639900  406700  7321900   770100  429200
2017-01-04  272300  762300  241100  4927500  1089400  459100
2017-01-05  245000  517200  319400  4107900   833400  412400
2017-01-06  274500  640800  254300  5603700  1299300  359400
2017-01-09  283700  802800  345500  4337700   695000  500200
2017-01-10  350400  699800  304900  4952500  1241900  370800
2017-01-11  234400  695400  271300  4762000  1198000  338100
2017-01-12  223200  675400  195100  5558700   855100  382800
2017-01-13  183000  579100  222000  5391500   449000  254900
2017-01-17  159500  336000  232300  5009100  1220300  399500

[10 rows x 168 columns]

In [21]:
# Trim and Transpose price data

data_adj_close = price_data.iloc[:, price_data.columns.get_level_values(0)=='Adj Close']
data_adj_close.columns = [col[1] for col in data_adj_close.columns]
data_adj_close_T = data_adj_close.unstack().to_frame().reset_index()
data_adj_close_T.columns.values
data_adj_close_T.rename(columns={'level_0':'ticker', 0:'Adj Close'}, inplace=True)
                        
data_adj_close_T.shape
data_adj_close_T.head()

array(['level_0', 'Date', 0], dtype=object)

(12040, 3)

  ticker       Date  Adj Close
0   AAMC 2017-01-03  53.000000
1   AAMC 2017-01-04  55.950001
2   AAMC 2017-01-05  58.000000
3   AAMC 2017-01-06  59.000000
4   AAMC 2017-01-09  59.900002

In [52]:
# Print all rows for ne example stock, for QA
data_adj_close_T.loc[data_adj_close_T['ticker'] == 'AAMC']

    ticker       Date  Adj Close
0     AAMC 2017-01-03  53.000000
1     AAMC 2017-01-04  55.950001
2     AAMC 2017-01-05  58.000000
3     AAMC 2017-01-06  59.000000
4     AAMC 2017-01-09  59.900002
5     AAMC 2017-01-10  59.950001
6     AAMC 2017-01-11  64.150002
7     AAMC 2017-01-12  63.799999
8     AAMC 2017-01-13  69.160004
9     AAMC 2017-01-17  70.000000
10    AAMC 2017-01-18  70.300003
11    AAMC 2017-01-19  73.000000
12    AAMC 2017-01-20  71.949997
13    AAMC 2017-01-23  63.000000
14    AAMC 2017-01-24  63.900002
15    AAMC 2017-01-25  62.450001
16    AAMC 2017-01-26  59.650002
17    AAMC 2017-01-27  61.950001
18    AAMC 2017-01-30  62.250000
19    AAMC 2017-01-31  62.799999
20    AAMC 2017-02-01  65.000000
21    AAMC 2017-02-02  80.489998
22    AAMC 2017-02-03  76.349998
23    AAMC 2017-02-06  80.250000
24    AAMC 2017-02-07  80.660004
25    AAMC 2017-02-08  77.750000
26    AAMC 2017-02-09  73.300003
27    AAMC 2017-02-10  75.150002
28    AAMC 2017-02-13  75.500000
29    AAMC 2017-02-14  76.080002
..     ...        ...        ...
400   AAMC 2018-08-06  65.000000
401   AAMC 2018-08-07  64.349998
402   AAMC 2018-08-08  64.349998
403   AAMC 2018-08-09  69.050003
404   AAMC 2018-08-10  66.599998
405   AAMC 2018-08-13  66.750000
406   AAMC 2018-08-14  64.650002
407   AAMC 2018-08-15  64.300003
408   AAMC 2018-08-16  64.900002
409   AAMC 2018-08-17  64.150002
410   AAMC 2018-08-20  63.759998
411   AAMC 2018-08-21  63.759998
412   AAMC 2018-08-22  64.699997
413   AAMC 2018-08-23  64.699997
414   AAMC 2018-08-24  62.700001
415   AAMC 2018-08-27  62.750000
416   AAMC 2018-08-28  62.750000
417   AAMC 2018-08-29  62.750000
418   AAMC 2018-08-30  62.750000
419   AAMC 2018-08-31  62.049999
420   AAMC 2018-09-04  62.049999
421   AAMC 2018-09-05  63.000000
422   AAMC 2018-09-06  59.849998
423   AAMC 2018-09-07  60.049999
424   AAMC 2018-09-10  60.049999
425   AAMC 2018-09-11  61.700001
426   AAMC 2018-09-12  61.700001
427   AAMC 2018-09-13  61.700001
428   AAMC 2018-09-14  61.250000
429   AAMC 2018-09-17  61.500000

[430 rows x 3 columns]

In [53]:
# Keep only start and end dates
# price_data_start_end = data_adj_close_T.loc[data_adj_close_T['Date'] == data_adj_close_T.Date.min()]

### price_data_start = data_adj_close_T.groupby('ticker').agg({'Date':'min'}).reset_index()

price_data_start = data_adj_close_T.iloc[data_adj_close_T.groupby(['ticker'])['Date'].idxmin()]
price_data_end = data_adj_close_T.iloc[data_adj_close_T.groupby(['ticker'])['Date'].idxmax()]

price_data_start.shape
price_data_start.head(10)

price_data_end.shape
price_data_end.head(10)

(28, 3)

     ticker       Date  Adj Close
0      AAMC 2017-01-03  53.000000
430    AAME 2017-01-03   4.054446
860     AAT 2017-01-03  41.006149
1290     AB 2017-01-03  20.306450
1720   ABCB 2017-01-03  43.165459
2150    ABR 2017-01-03   6.478377
2580     AC 2017-01-03  33.316162
3010    ACC 2017-01-03        NaN
3440   ACGL 2017-01-03  28.629999
3870   ACNB 2017-01-03  29.938374

(28, 3)

     ticker       Date  Adj Close
429    AAMC 2018-09-17  61.500000
859    AAME 2018-09-17   3.000000
1289    AAT 2018-09-17  38.490002
1719     AB 2018-09-17  30.450001
2149   ABCB 2018-09-17  47.250000
2579    ABR 2018-09-17  12.020000
3009     AC 2018-09-17  37.299999
3439    ACC 2018-09-17  42.430000
3869   ACGL 2018-09-17  30.180000
4299   ACNB 2018-09-17  39.250000

In [55]:
#Merge start and end prices together and calc price change

price_data_start_end = price_data_start.merge(price_data_end, how='inner', \
                        left_on=['ticker'], right_on=['ticker'])

price_data_start_end['Price Change'] = price_data_start_end['Adj Close_y'] / price_data_start_end['Adj Close_x']

price_data_start_end.shape
price_data_start_end.head()

(28, 6)

  ticker     Date_x  Adj Close_x     Date_y  Adj Close_y  Price Change
0   AAMC 2017-01-03    53.000000 2018-09-17    61.500000      1.160377
1   AAME 2017-01-03     4.054446 2018-09-17     3.000000      0.739928
2    AAT 2017-01-03    41.006149 2018-09-17    38.490002      0.938640
3     AB 2017-01-03    20.306450 2018-09-17    30.450001      1.499524
4   ABCB 2017-01-03    43.165459 2018-09-17    47.250000      1.094625

In [ ]:
# Put input and response variables together into one dataset
### *** PICK UP HERE *** ###

In [ ]:
# Build Ridge regression model

predictors = [('retainedearnings', 'change_1Y'), ('retainedearnings', 'change_2Y'), ('retainedearnings', 'change_3Y'),\
          ('totalassets', 'change_1Y'), ('totalassets', 'change_2Y'), ('totalassets', 'change_3Y'),\
          ('cashandequivalents', 'change_1Y'), ('cashandequivalents', 'change_2Y'), ('cashandequivalents', 'change_3Y'),\
          ('longtermdebt', 'change_1Y'), ('longtermdebt', 'change_2Y'), ('longtermdebt', 'change_3Y'),\
          ('shorttermdebt', 'change_1Y'), ('shorttermdebt', 'change_2Y'), ('shorttermdebt', 'change_3Y'),\
          ('totalliabilities', 'change_1Y'), ('totalliabilities', 'change_2Y'), ('totalliabilities', 'change_3Y'),\
         ]

ridgereg = Ridge(alpha=alpha,normalize=True)
ridgereg.fit(data[predictors],data['y'])

## Scrap code

In [4]:
ls data

US_FIN_BALANCE_SHEET_STATEMENT_sample.csv*